<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Patient List</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">

    </div>
    <p class="text-danger" th:if="${!#strings.isEmpty(errorPatientNotFoundMessage)}" th:text="${errorPatientNotFoundMessage}"></p>

    <div class="row">
        <a href="/patient/add" class="btn btn-primary btn-sm">Add Patient</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Sex</th>
                <th>Birth Date</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patientsList}">
                <td th:text="${patient.firstname}"></td>
                <td th:text="${patient.lastname}"></td>
                <td style="width:10%" th:text="${patient.sex}"></td>
                <td th:text="${patient.birthDate}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phone}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/note/{patientId}/list(patientId=${patient.id})}">Notes</a>|
                    <a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>